* {
  text-align: center;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Baloo 2', cursive;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setup-page input {
  width: 300px;
  height: 30px;
  margin: 10px;
}

.display-games {
  width: 800px;
  height: 450px;
  background-image: url('https://dryeraseposter2.files.wordpress.com/2015/09/8-team-dry-erase-bracket-poster.png?w=625&h=500');
  background-position: center;
  background-size: 800px 450px;
}

.display-games div {
  width: 190px;
  margin: 10px;
}

.display-games div span {
  display: flex;
  justify-content: space-between;
}

.game1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
}

.game2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
  top: 28px;
}

.game3 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
  top: 57px;
}

.game4 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
  top: 84px;
}

.game5 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 140px;
  bottom: 330px;
  left: 198px;
}

.game6 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 142px;
  bottom: 247px;
  left: 198px;
}

.game7 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 258px;
  bottom: 577px;
  left: 395px;
}

button {
  border: 0px;
  width: 70px;
  height: 20px;
  background-color: rgb(96, 152, 255);
  border-radius: 5px;
}

button:hover {
  background-color: rgb(71, 112, 189);
}

.create {
  width: 100px;
  height: 20px;
}

.reset {
  width: 100px;
  height: 20px;
}


.winner-placement {
  position: relative;
  bottom: 725px;
  left: 570px;
  height: 200px;
  width: 200px;
}

.Winner-animation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 300px;
}